Repository lsst-it/puppet-ccs_software, pull requests merged in 2023-04, with the labels that each got.

#33 Extend the service hash to allow for more options
  REFERENCE.md
  manifests/init.pp
  manifests/service.pp
  spec/classes/service_spec.rb
  spec/support/acceptance/setup.rb
  templates/service/ccs.service.epp
Labels: enhancement

#34 Update from voxpupuli modulesync_config 5.5.0
  .msync.yml
  .pmtignore
  Gemfile
  Rakefile
Labels: skip-changelog

#35 release 1.4.0
  CHANGELOG.md
  metadata.json
Labels: ccs, skip-changelog
