Repository lsst-it/puppet-ccs_software, pull requests merged in 2024-03, with the labels that each got.

#54 rm acceptance test usage of puppetlabs/accounts mod
  spec/acceptance/basic_spec.rb
  spec/support/acceptance/setup.rb
Labels: bug

#53 Bump version to 2.2.1
  CHANGELOG.md
  metadata.json
Labels: enhancement

#55 use stdlib::ensure_packages() and require stdlib >= 9
  manifests/pre.pp
  metadata.json
Labels: enhancement, backwards-incompatible
