Repository lsst-it/puppet-ccs_software, pull requests merged in 2024-09, with the labels that each got.

#69 Add CCS desktops apps to default gnome favorites
  .fixtures.yml
  manifests/desktop.pp
  metadata.json
  spec/support/acceptance/setup.rb
Labels: enhancement

#70 Version 2.7.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#71 modulesync 9.3.0
  .github/labeler.yml
  .github/release.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/pr_labels.yaml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .puppet-lint.rc
  Gemfile
Labels: modulesync
